.background {
    background: rgba(0, 0, 0, 0.2) url('dare.jfif');
    background-size: contain;
    background-blend-mode: darken;
}

.firstsection {
    height: 150vh;
}

.box-main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 50%;
    margin: auto;
    height: 70%;
}

.firstHalf {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}